<p-table #slides [columns]="cols" [value]="interestingSlides" dataKey="slideId">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <!-- <th style="flex: 0 0 3%">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th> -->
      <th *ngFor="let col of columns" [style.flex]="col?.width">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-res let-rowData let-slide let-columns="columns" let-rowIndex="rowIndex">
    <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <!-- <td style="flex: 0 0 3%">
        <p-tableCheckbox [value]="slide"></p-tableCheckbox>
      </td> -->
      <td *ngFor="let col of columns" [style.flex]="col?.width">
        <span *ngIf="col.header.includes('Date')">
          {{rowData[col.field] | date : 'short'}}
        </span>
        <span *ngIf="!col.header.includes('Date') && !col.header.includes('Reason')">
          {{rowData[col.field]}}
        </span>
        <!-- <span *ngIf="!col.header.includes('Date') && col.header.includes('Rescan')">
          <p-dropdown [options]="reasons" [(ngModel)]="interestingSlides[rowIndex].rescanReason" [style]="{'width':'275px'}"
            [disabled]="!dropDownEnabled(interestingSlides[rowIndex])"
            placeholder="Select a rescan reason" optionLabel="reason" [showClear]="false" appendTo="body" (onChange)="formValid()"></p-dropdown>
        </span> -->
        <span *ngIf="!col.header.includes('Date') && col.header.includes('Other')">
          <input type="text" pInputText [(ngModel)]="interestingSlides[rowIndex].otherReason" [style]="{'width':'275px'}" maxlength="300"
            placeholder="Other reason"  (keyup)="formValid()" >
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>

<input type="text" pInputText [(ngModel)]="interestingSlides[0].otherReason" [style]="{'width':'275px'}" maxlength="300"
            placeholder="Other reason"  (keyup)="formValid()" >
